.Rproj.user
.Rhistory
.RData
.Ruserdata
ltermetacommunities.Rproj
.DS_Store
.Rapp.history
ltermetacommunities-example-data-simulation.Rproj
.gitignore
Sokol dev script/
ESA_2016/NWT_SnowXProdCorrected.csv